:root {
  --brandColor: #757575;
  --accentColor: #2196F3;
  --accentButton: #188CE8;
  --titleColor: #212121;
  --whiteColor: #FFF;
  --blackColor: #000;
  --accentTextColor: rgba(255, 255, 255, 0.60);
  --backgroundColor: #F5F4FA;
  --accentBackground: #2F303A;
  --cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

img {
  display: block;
}

.hidden-title {
  opacity: 0;
  position: absolute;
}

.customers, .team, .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__list, .customers__list, .team__list, .work__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

body {
  color: var(--brandColor);
  background-color: var(--whiteColor);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--blackColor);
  text-align: center;
  margin-bottom: 50px;
}

.svg {
  fill: rgb(117, 117, 117);
  transition: fill 250ms var(--cubicBezier);
}

.link--current {
  color: var(--accentColor);
}

.link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accentColor);
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.button {
  padding: 6px 22px;
  background-color: var(--backgroundColor);
  color: var(--titleColor);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: color 250ms var(--cubicBezier), background-color 250ms var(--cubicBezier), box-shadow 250ms var(--cubicBezier);
}
.button:hover, .button:focus {
  color: var(--whiteColor);
  background-color: var(--accentColor);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.hero__button {
  padding: 10px 32px;
  color: var(--whiteColor);
  background-color: var(--accentColor);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  transition: background-color 250ms var(--cubicBezier), box-shadow 250ms var(--cubicBezier);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accentButton);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form__button {
  padding: 10px 52px;
  color: var(--whiteColor);
  background-color: var(--accentColor);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  transition: background-color 250ms var(--cubicBezier), box-shadow 250ms var(--cubicBezier);
}
.form__button:hover, .form__button:focus {
  background-color: var(--accentButton);
}

.footer__button {
  padding: 10px 28px;
  color: var(--whiteColor);
  background-color: var(--accentColor);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--cubicBezier);
}
.footer__button:hover, .footer__button:focus {
  background-color: var(--accentButton);
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card__img {
  margin-bottom: 30px;
}

.team-card__title {
  color: var(--titleColor);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-card__text {
  color: var(--brandColor);
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.team-card__list {
  display: flex;
  margin-bottom: 30px;
}

.team-card__item:not(:last-child) {
  margin-right: 10px;
}

.team-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition: background-color 250ms var(--cubicBezier);
}
.team-card__link:hover, .team-card__link:focus {
  background-color: var(--accentColor);
}

.team-card__link:hover .svg,
.team-card__link:focus .svg {
  fill: var(--whiteColor);
}

/* .product-card {} */
.product-card__details {
  position: relative;
  overflow: hidden;
}

.product-card__details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubicBezier);
}
.product-card__link:hover .product-card__details::before, .product-card__link:focus .product-card__details::before {
  transform: translateY(0);
  opacity: 1;
}

/* .projects-card__img {}   */
.product-card__text--description {
  position: absolute;
  color: var(--whiteColor);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  padding: 64px 24px;
  opacity: 0;
  transition: transform 250ms var(--cubicBezier);
}
.product-card__link:hover .product-card__text--description, .product-card__link:focus .product-card__text--description {
  transform: translateY(-100%);
  opacity: 1;
}

.product-card__box {
  padding: 24px 20px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.product-card__link:hover .product-card__box, .product-card__link:focus .product-card__box {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titleColor);
}

.product-card__text {
  color: var(--brandColor);
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

.our-networks {
  margin-left: 70px;
  margin-right: 93px;
}

.our-networks__list {
  display: flex;
}

.our-networks__item:not(:last-child) {
  margin-right: 10px;
}

.our-networks__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: background-color 250ms var(--cubicBezier);
}
.our-networks__link:hover, .our-networks__link:focus {
  background-color: var(--accentColor);
}

.our-networks__svg {
  fill: var(--whiteColor);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: auto;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: flex;
  align-items: center;
  color: var(--brandColor);
  font-weight: 500;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubicBezier);
}
.header__link:hover, .header__link:focus {
  color: var(--accentColor);
}

.header__svg {
  margin-right: 10px;
}
.header__link:hover .header__svg, .header__link:focus .header__svg {
  fill: var(--accentColor);
}

.logo {
  display: inline-block;
  color: var(--blackColor);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  transition: color 250ms var(--cubicBezier);
}
.logo:hover, .logo:focus {
  color: var(--accentColor);
}

.logo__span--color {
  color: var(--accentColor);
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  color: var(--whiteColor);
  margin-bottom: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: inline-block;
  color: var(--titleColor);
  font-weight: 500;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubicBezier);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accentColor);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accentBackground);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: var(--whiteColor);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 250ms var(--cubicBezier), opacity 250ms var(--cubicBezier);
}
.backdrop.is-hidden {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  text-align: center;
  background-color: var(--whiteColor);
}

.modal__button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  margin-left: auto;
  padding: 0;
  border-radius: 100%;
  border: 1px solid rgb(230, 230, 230);
  background-color: var(--whiteColor);
}

.modal__button--svg {
  transition: transform 250ms var(--cubicBezier), fill 250ms var(--cubicBezier);
}
.modal__button:hover .modal__button--svg, .modal__button:focus .modal__button--svg {
  transform: rotate(360deg);
  fill: var(--accentColor);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.form__text {
  display: inline-block;
  color: var(--blackColor);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.form__field:nth-child(4) {
  margin-bottom: 10px;
}
.form__field:nth-child(5) {
  margin-bottom: 20px;
}

.form__input {
  width: 448px;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__field label {
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-right: auto;
}

.form__label {
  position: absolute;
  top: 14px;
  left: 32px;
  margin-bottom: 0;
  transition: transform 250ms var(--cubicBezier);
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: translate(-30px, -30px);
}

.form__svg {
  position: absolute;
  top: 14px;
  left: 13px;
  transition: transform 250ms var(--cubicBezier);
}
.form__input:focus ~ .form__svg, .form__input:not(:placeholder-shown) ~ .form__svg {
  fill: var(--accentColor);
}

.form__field textarea {
  width: 448px;
  font-size: 12px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  resize: none;
}

textarea:focus,
input:focus {
  border: 1px solid var(--accentColor);
}

.form__agree {
  margin-bottom: 30px;
}

.form__agree label {
  display: flex;
  align-items: center;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  cursor: pointer;
}
.form__checkbox:focus + .checkbox__icon {
  border: 2px solid var(--accentColor);
}
.form__checkbox:checked + .checkbox__icon {
  border: 0;
  background-image: url(../images/svg/icon-check\ \(2\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
  border-radius: 2px;
}

.form__agreement {
  color: var(--accentColor);
  text-decoration: underline;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--backgroundColor);
}

.features__title {
  color: var(--titleColor);
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  color: var(--brandColor);
  line-height: 1.7142857143;
  letter-spacing: 0.42px;
}

.work {
  padding-bottom: 94px;
}

.work__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work__box {
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  text-align: center;
}

.work__text {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.team {
  background: var(--backgroundColor);
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--whiteColor);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.customers__item {
  flex-basis: calc((100% - 150px) / 6);
}

.customers__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition: border-color 250ms var(--cubicBezier);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accentColor);
}

.customers__link:hover .svg,
.customers__link:focus .svg {
  fill: var(--accentColor);
}

.footer {
  background-color: var(--accentBackground);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__title {
  color: var(--whiteColor);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__link {
  color: var(--accentTextColor);
  font-family: Roboto;
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.42px;
  transition: color 250ms var(--cubicBezier);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accentColor);
}

.footer__link--color {
  color: var(--whiteColor);
}

.footer__input {
  display: inline;
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  color: var(--brandColor);
}

.footer__svg--margin {
  margin-left: 10px;
}

.projects-buttons__box {
  margin-bottom: 50px;
}

.projects-buttons__list {
  display: flex;
  justify-content: center;
}

.projects-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
}/*# sourceMappingURL=main.css.map */