.features{
    @extend %section;
}

.features__list {
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px; 
    }
}

.features__item {
    &:not(:last-child){
        @media screen and (max-width:767px) {
            margin-bottom: 30px;
        }
    }

@media screen and (min-width:$tablet) {
    @include grid(100%, 30px, 2);
}
@media screen and (min-width:$desktop) {
    @include grid(100%, 90px, 4);
}


}


.features__box {
    min-width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: var(--backgroundColor);
}


.features__title {
    color: var(--titleColor);

    font-size: inherit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;

    @media screen and (min-width:$tablet) {
        text-align: start;
    }
}

.features__text {
    color: var(--brandColor);


    line-height: calc(24px / 14px);
    letter-spacing: 0.03em;
}