.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    @media screen and (max-width:767px) {
        flex-direction: column-reverse;
        margin-top: auto;
        margin-bottom: 64px;
    }

    @media screen and (min-width:$tablet) {
        margin-left: auto;
    }
    
    @media screen and (min-width:$tablet) and (max-width:1199px) {
        flex-direction: column;
    }
}


.header__item{

    &:not(:last-child) {

        @media screen and (min-width:$tablet) and (max-width:1199px) {
            margin-bottom: 10px;
        }
    
        @media screen and (min-width:$desktop) {
            margin-right: 50px;
        }
    }
}


.header__link {
    display: flex;
    align-items: center;

    color: var(--brandColor);
    font-weight: 500;
    letter-spacing: 0.28px;

    transition: color 250ms var(--cubicBezier);

    &:hover,
    &:focus {
    color: var(--accentColor);
}

     @media screen and (max-width:767px) {
     font-size: 24px;
    }

     @media screen and (max-width:767px) {
          &--color{
            margin-bottom: 35px;
            font-size: 34px;
            color: var(--accentColor);
       }
    }

    @media screen and (min-width: $desktop) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}



.header__svg {
    margin-right: 10px;

    .header__link:hover &,
    .header__link:focus  & {
    fill: var(--accentColor);
}
}

