.team {
    @extend %section;

    background: var(--backgroundColor);
}

.team__list {
    @extend %container;
}

.team__item {

    @include grid(100%, 90px, 4);

    border-radius: 0px 0px 4px 4px;
    background: var(--whiteColor);

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
