@import './decimals';


// 480px $mobile, 768px tablet і 1200px desktop.
// @mixin adaptability($width, $px){
//     @media screen and ($width: $px) {

//     }
          
// }






@mixin grid($width, $retreat, $elementsInRow){
    flex-basis: calc(($width - $retreat) / $elementsInRow);
}



@mixin fonts ($fWeight: 700, $fSize: 36px, $lHeight: 41px, $lSpacing:0.03em, $color:var(--blackColor)) {

    font-weight: $fWeight;
    font-size: $fSize;
    line-height:decimal-ceil($lHeight / $fSize);
    letter-spacing: $lSpacing;

    color: $color;
}

