:root {
    --brandColor: #757575;
    --accentColor: #2196F3;
    --accentButton: #188CE8;
    --titleColor: #212121;
    --whiteColor: #FFF;
    --blackColor: #000;
    --accentTextColor: rgba(255, 255, 255, 0.60);
    --backgroundColor: #F5F4FA;
    --accentBackground: #2F303A;
    --cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
}